@import '../../variables.scss';

@mixin appearance($color) {
  background: $color;
  color: white;
  &:hover {
    background: lighten($color, 5%);
  }
  &:active {
    background: darken($color, 5%);
  }
  &:focus {
    box-shadow: 0 0 0 2px adjust-color($color, $saturation: -4%, $alpha: -.72);
  }
}

@mixin appearance-outline($color) {
  color: adjust-color($color, $saturation: -8%, $lightness: -12%);
  border-color: $color;
  &:hover {
    background: transparentize($color, .92);
  }
  &:active {
    background: adjust-color($color, $saturation: -4%, $lightness: -8%, $alpha: -.8);
  }
}


.button {
  display: inline-flex;
  box-sizing: border-box;
  height: 100%;
  font: 14px/22px 'PT Root UI';
  font-weight: 500;
  margin: 4px 0;
  padding: 0 16px;
  height: 40px;
  background: $grey-300;
  border: 0px solid transparent;
  border-radius: $radius;
  outline: none;
  vertical-align: middle;
  transition: all .2s ease-out;

  &:hover {
    background: lighten($grey-300, 4%);
  }
  &:active {
    background: darken($grey-300, 4%);
  }
  &:focus {
    box-shadow: 0 0 0 2px adjust-color($grey-300, $saturation: -4%, $alpha: -.40);
  }
  

  &:not(:last-of-type) {
    margin-right: 12px;
  }
  
  
  &.primary {
    @include appearance($primary);
    &.outline {
      @include appearance-outline($primary);
    }
  }

  &.warning {
    @include appearance($warning);
    &.outline {
      @include appearance-outline($warning);
    }
  }

  &.danger {
    @include appearance($danger);
    &.outline {
      @include appearance-outline($danger);
    }
  }

  &.success {
    @include appearance($success);
    &.outline {
      @include appearance-outline($success);
    }
  }

  &.info {
    @include appearance($info);
    &.outline {
      @include appearance-outline($info);
    }
  }

  &.outline {
    color: $grey-800;
    border: 1px solid $grey-400;
    background: transparent;
    &:hover {
      background: transparentize($grey-300, .64);
    }
    &:active {
      background: transparentize($grey-300, .24);
    }
  }

  &.ghost {
    border: none;
    background: transparent;
    color: $primary;

    &:hover {
      background: transparentize($primary, .88);
    }
    &:active {
      background: transparentize($primary, .80);
    }
    &:focus {
      box-shadow: 0 0 0 2px adjust-color($primary, $saturation: -4%, $alpha: -.64);
    }
  }
  
  .material-icons {
    vertical-align: middle;
    &.before {
      padding: 0 8px 0 0;
    }
    &.after {
      padding: 0 0 0 8px;
    }
  }
  
}