@import '../../variables.scss';

.menu {
  width: 240px;
  height: 100vh;
  box-sizing: border-box;
  background: $gray-100;
  position: relative;
  margin: 0;
  display: inline-block;
  transition: all .3s ease-out;
  
  &.minimized {
    width: 88px;
    .logo {
      margin: 12px 20px 12px 20px;
      border-radius: 24px;
      background: transparent;
      padding: 8px;
      
      span {
        width: 32px;
        min-width: 32px;
      }
    }

    .minimize {
      left: 68px;
      z-index: 100;
    }

    .control-buttons {
      flex-direction: column;
    }

    .btn-start, .btn-stop {
      padding: 8px 0 8px 0;
      width: 40px;
      margin: 0 auto;
    }

    .btn-start {
      margin-bottom: 16px;
    }
  }

  .minimize {
    position: absolute;
    padding: 4px;
    top: 20px;
    left: 184px;
    transition: all .3s ease-out;
  }

  ul {
    margin: 0;
    padding: 16px;
    list-style: none;
  }

  .logo {
    display: flex;
    margin: 12px 16px 12px 0;
    padding: 8px 16px;
    background: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-out;
    
    span {
      overflow: hidden;
      width: 100%;
      img {
        display: block;
      }
    }
  }
}

.menu-item {
  
  a {
    display: flex;
    padding: 8px 16px;
    margin-top: 4px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    
    &:hover {
      background: rgba($primary, .08);
    }

    &.active {
      background: rgba($primary, .12);
      color: $primary;
    }
    span {
      padding-left: 16px;
      transition: all .3s ease-out;
    }
  }

  i {
    vertical-align: middle;
  }

}

.control-buttons {
  display: flex;
  padding: 16px;
}

.btn {
  display: flex;
  position: relative;
  outline: none;
  align-items: center;
  transition: all .2s ease-out;
  font: 15px/20px 'PT Root UI';
}

.btn-ghost {
  background: white;
  border: 1px solid $gray-300;
}

.btn-icon {
  box-sizing: border-box;
  padding: 8px;
}

.btn-round {
  border-radius: 50%;
}

.btn-start, .btn-stop {
  border: none;
  color: white;
  padding: 8px 0 8px 4px;
  width: 100px;
  border-radius: 20px;
  overflow: hidden;
  
  &:disabled {
    background: rgba(0,0,0, .12);
  }

  i {
    margin-right: 8px;
    margin-left: 8px;
  }

}

.btn-start {
  background: $success;
  margin-right: 16px;

  &:hover {
    background: lighten($success, 4%);
  }
}

.btn-stop {
  background: $warning;

  &:hover {
    background: lighten($warning, 4%);
  }
}